@font-face {
    font-family: XRay;
    src:url(../fonts/XRay.otf);
}

clock-calendar {
    display: block;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    width: 400px;
    background-color: #D3D3D3;
    margin: auto;
    font-size: 5em;
    color: #000;
    font-family: XRay;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.color {
    background-color: #BB442B;
}